body {
    margin: 0;
    
}
.box {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#FFCA43, #FF9243, #FFA927E0);
    padding: 2rem;
    form.registration {
        width: 600px;
        height: 870px;
        background-color: #000000;
        border-radius: 20px;
        padding: 30px 16px;
        color: #FFFFFF;
        margin: 0 auto;
        box-sizing: border-box;

    .title {
        color: #F58020;
        text-align: center;
        font-size: 36px;
        font-weight: 900;
    }
    div.element_form>input {
        width: 100%;
        border-radius: 10px;
        box-sizing: border-box;
        height: 47px;
    }
    div.element_form>label {
        display: inline-block;
        margin: 13px 0;
    }
    button {
        padding: 18px 24px;
        border-radius: 15px;
        background-color: #F58020;
        font-size: 24px;
        font-weight: 700;
    }
    }
}


